# Movement data from Google

This notebook includes only the cleaning of google's movement data so it is ready to plot. The data is presented in the presentation notebook. 

~/Jupyter/movement_global/google_presentation.ipynb

### Data overview

[Google](https://www.google.com/covid19/mobility/)  A baseline day represents a normal value for that day of the week. The baseline day is the median value from the 5‑week period Jan 3 – Feb 6, 2020. Avoid comparing places across regions. Regions can have local differences in the data which might mislead. The data shows how visitors to (or time spent in) categorized places change compared to our baseline days.

Data report from 16 December

These reports are created with aggregated, anonymized sets of data from users who have turned on the Location History setting, which is off by default.

This notebook links into other notebooks within this same folder.

In [81]:
import pandas as pd
google = pd.read_csv('/Users/fiona/pandas_tutorials/movement_cities/google/Global_Mobility_Report.csv', 
                     dtype={'metro_area':'str','iso_3166_2_code':'str'})

In [49]:
google.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

# Selecting my areas of interest

I have family in Provence and Loire valley, France, Cologne, Germany, Sao paulo, Tokyo, Australia: Townsville, Sydney, Melbourne and Seattle. Need to find out how to get the most detailed information for the above locations.

In [50]:
google['sub_region_1'].value_counts()

State of São Paulo            107462
State of Minas Gerais          73558
Texas                          58171
State of Rio Grande do Sul     44323
State of Paraná                43220
                               ...
Baldone Municipality               2
Zambezi Region                     1
Savanes Region                     1
Centre-Nord Region                 1
Krimulda Municipality              1
Name: sub_region_1, Length: 1860, dtype: int64

In [51]:
google_nsw = google[google['sub_region_1'] == 'New South Wales']
google_nsw['sub_region_2'].value_counts()

City of Liverpool                                  312
City of Willoughby                                 312
Penrith City Council                               312
Tweed Shire Council                                312
The Hills Shire                                    312
                                                  ...
Tumut Council                                      123
Parkes Shire Council                               123
The Council of the Municipality of Hunters Hill    122
Young Shire Council                                122
Cooma-Monaro Council                               121
Name: sub_region_2, Length: 87, dtype: int64

### Notes
As time has progressed, Google has added more detail at council levels not previously available. 

So originally, places of interest included ['sub_region_1']:

`places_interest = ['Centre-Val de Loire', 'Provence-Alpes-Côte d\'Azur', 
                   'Victoria', 'New South Wales', 'Queensland', 'North Rhine-Westphalia', 
                   'Tokyo', 'State of São Paulo']`

Now I can get much more precise about what parts of states and regions I want to monitor. At the sub_region_2 level I am interested in.

`other_places_interest = ['Loiret', 'Indre-et-Loire', 'Bouches-du-Rhône', 'São Paulo', 'Townsville City', 'King County']`


Then 'Melbourne', 'Sydney' are a number of councils at the sub_region_2 level. 

Tokyo and North Rhine-Westphalia still remain areas of interest at the sub_region_1 level.

## Data cleaning

In [52]:
google_cols = google.copy()
google_cols.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [53]:
# google.columns = google.columns.str.rstrip('percent_change_from_baseline')
# raw_data = raw_data.rename(columns=lambda x: re.sub(' $','',x))

google_cols.columns = google.columns.str.replace('_percent_change_from_baseline', '')
google_cols.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [54]:
google_cols['date'] = pd.to_datetime(google_cols['date'], format='%Y/%m/%d')
google_cols = google_cols.set_index('date')
google_cols.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,,,,,
2020-02-15,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,0.0,4.0,5.0,0.0,2.0,1.0
2020-02-16,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,1.0,4.0,4.0,1.0,2.0,1.0
2020-02-17,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,-1.0,1.0,5.0,1.0,2.0,1.0
2020-02-18,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,-2.0,1.0,5.0,0.0,2.0,1.0
2020-02-19,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,-2.0,0.0,4.0,-1.0,2.0,1.0

In [55]:
google_cols = google_cols.drop(['country_region_code', 'metro_area', 'iso_3166_2_code', 'census_fips_code'], axis=1)
google_cols.columns

Index(['country_region', 'sub_region_1', 'sub_region_2',
       'retail_and_recreation', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential'],
      dtype='object')

# Australia

In [56]:
australia = google_cols[(google_cols['country_region'] == 'Australia') & (google_cols['sub_region_1'].isnull())].copy()
australia.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,Australia,NaN,NaN,4.0,3.0,-2.0,3.0,3.0,0.0
2020-02-16,Australia,NaN,NaN,3.0,5.0,9.0,3.0,-1.0,0.0
2020-02-17,Australia,NaN,NaN,-1.0,0.0,-6.0,7.0,17.0,-2.0
2020-02-18,Australia,NaN,NaN,-3.0,-2.0,-13.0,7.0,14.0,-1.0
2020-02-19,Australia,NaN,NaN,-1.0,-1.0,-6.0,8.0,13.0,-1.0

## Sydney, Australia

In [57]:
# capturing sydney councils
sydney_councils = ['Inner West Council', 'Burwood Council','Camden Council', 'Bayside Council', 'City of Parramatta Council',
       'Waverley Council', 'Bankstown City Council', 'Campbelltown City Council', 'Sutherland Shire', 'City of Willoughby',
       'Randwick City Council', 'Fairfield City Council','City of Canada Bay Council', 'Cumberland Council', 'Northern Beaches Council',
       'Council of the City of Sydney', 'The Council of the Shire of Hornsby','City of Ryde', 'City of Blacktown', 
       'Canterbury City Council', 'City of Liverpool', 'Penrith City Council', 'Strathfield Municipal Council', 
        'Ku-ring-gai Council', 'North Sydney Council','Lane Cove Municipal Council','Wollondilly Shire Council', 'Woollahra Municipal Council', 'Mosman Municipal Council']

# Confirming number
len(sydney_councils)

29

In [58]:
## Sydney
sydney = google_cols[google_cols['sub_region_2'].isin(sydney_councils)].copy()
sydney.index.value_counts()

2020-11-19    30
2020-07-15    30
2020-11-22    30
2020-06-17    30
2020-09-26    30
              ..
2020-08-22    23
2020-09-05    23
2020-09-06    22
2020-08-30    22
2020-08-23    22
Name: date, Length: 312, dtype: int64

In [59]:
total_sydney = sydney.groupby('date').mean()
total_sydney.head()

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,
2020-02-15,6.933333,3.178571,26.777778,11.500000,4.296296,-0.947368
2020-02-16,6.392857,9.074074,25.333333,9.321429,-0.080000,-0.470588
2020-02-17,-2.620690,-0.107143,-5.769231,12.551724,16.400000,-1.689655
2020-02-18,-1.766667,-1.500000,-2.692308,10.965517,13.333333,-1.586207
2020-02-19,-1.033333,0.642857,6.615385,13.310345,12.500000,-1.896552

# Victoria, Australia

In [60]:
# constructing victorian data df
vict = google_cols[(google_cols['sub_region_1'] == 'Victoria')&(google_cols['sub_region_2'].isnull())].copy()
vict.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,Australia,Victoria,NaN,3.0,3.0,-22.0,1.0,3.0,1.0
2020-02-16,Australia,Victoria,NaN,3.0,4.0,2.0,0.0,-2.0,0.0
2020-02-17,Australia,Victoria,NaN,-1.0,1.0,26.0,11.0,18.0,-3.0
2020-02-18,Australia,Victoria,NaN,-6.0,-6.0,-27.0,5.0,13.0,0.0
2020-02-19,Australia,Victoria,NaN,-2.0,-2.0,-17.0,6.0,13.0,-1.0

# Melbourne, Australia

In [61]:
victoria = google_cols[google_cols['sub_region_1'] == 'Victoria']
victoria['sub_region_2'].unique()

array([nan, 'Alpine Shire', 'Ballarat City', 'Banyule City',
       'Bass Coast Shire', 'Baw Baw Shire', 'Bayside City',
       'Benalla Rural City', 'Boroondara City', 'Brimbank City',
       'Campaspe Shire', 'Cardinia Shire', 'Central Goldfields Shire',
       'City of Casey', 'City of Hume', 'City of Knox',
       'City of Maribyrnong', 'City of Wyndham', 'City of Yarra',
       'Colac Otway Shire', 'Corangamite Shire', 'Darebin City',
       'East Gippsland Shire', 'Frankston City', 'Glen Eira City',
       'Glenelg Shire', 'Golden Plains Shire', 'Greater Bendigo City',
       'Greater Dandenong City', 'Greater Geelong City',
       'Greater Shepparton City', 'Hepburn Shire', 'Hobsons Bay City',
       'Horsham Rural City', 'Indigo Shire', 'Kingston City',
       'Latrobe City', 'Macedon Ranges Shire', 'Manningham City',
       'Maroondah City', 'Melbourne City', 'Melton City',
       'Mildura Rural City', 'Mitchell Shire', 'Moira Shire',
       'Monash City', 'Moonee Valley City', 'Moorabool Shire',
       'Moreland City', 'Mount Alexander Shire', 'Moyne Shire',
       'Murrindindi Shire', 'Nillumbik Shire', 'Northern Grampians Shire',
       'Port Phillip City', 'Shire of Mornington Peninsula',
       'South Gippsland Shire', 'Southern Grampians Shire',
       'Stonnington City', 'Surf Coast Shire', 'Swan Hill Rural City',
       'Wangaratta Rural City', 'Warrnambool City', 'Wellington Shire',
       'Whitehorse City', 'Whittlesea City', 'Wodonga City',
       'Yarra Ranges Shire'], dtype=object)

In [62]:
melbourne_c = ['Banyule City','Bayside City','Boroondara City', 'Brimbank City', 'Cardinia Shire', 'City of Casey', 
               'City of Hume', 'City of Knox','City of Maribyrnong', 'City of Wyndham', 'City of Yarra','Darebin City',
               'Frankston City', 'Glen Eira City','Greater Dandenong City', 'Hobsons Bay City','Kingston City',
               'Manningham City','Maroondah City', 'Melbourne City', 'Melton City', 'Monash City', 'Moonee Valley City', 
               'Moreland City', 'Port Phillip City', 'Shire of Mornington Peninsula','Stonnington City', 
               'Whitehorse City', 'Whittlesea City', 'Yarra Ranges Shire']

In [63]:
len(melbourne_c)

30

In [64]:
melbourne = google_cols[google_cols['sub_region_2'].isin(melbourne_c)].copy()
melbourne.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,Australia,Victoria,Banyule City,13.0,6.0,-21.0,14.0,2.0,0.0
2020-02-16,Australia,Victoria,Banyule City,12.0,10.0,48.0,2.0,4.0,0.0
2020-02-17,Australia,Victoria,Banyule City,3.0,-3.0,20.0,21.0,20.0,-3.0
2020-02-18,Australia,Victoria,Banyule City,0.0,-6.0,-21.0,8.0,16.0,0.0
2020-02-19,Australia,Victoria,Banyule City,0.0,-1.0,-9.0,11.0,15.0,-1.0

In [65]:
total_melbourne =  melbourne.groupby(['date']).mean()
total_melbourne.head()

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,
2020-02-15,5.566667,9.433333,-19.566667,3.400000,3.366667,0.620690
2020-02-16,5.833333,12.733333,20.066667,5.533333,-0.400000,0.038462
2020-02-17,-1.500000,3.466667,30.100000,19.500000,17.433333,-2.833333
2020-02-18,-7.000000,-3.400000,-26.100000,8.800000,13.233333,-0.500000
2020-02-19,-1.766667,2.800000,-15.900000,11.366667,12.500000,-0.900000

# Townsville, Australia

In [66]:
# constructing data df
townsville = google_cols[google_cols['sub_region_2'] == 'Townsville City'].copy()
townsville.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,Australia,Queensland,Townsville City,4.0,7.0,-4.0,-5.0,2.0,0.0
2020-02-16,Australia,Queensland,Townsville City,0.0,9.0,-18.0,-2.0,2.0,1.0
2020-02-17,Australia,Queensland,Townsville City,-4.0,2.0,-10.0,6.0,21.0,-2.0
2020-02-18,Australia,Queensland,Townsville City,-4.0,-1.0,-3.0,0.0,13.0,-2.0
2020-02-19,Australia,Queensland,Townsville City,-2.0,0.0,-5.0,7.0,13.0,-2.0

# Seattle, King County, USA

In [67]:
seattle = google_cols[google_cols['sub_region_2'] == 'King County'].copy()
seattle.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,United States,Washington,King County,-1.0,-2.0,11.0,8.0,-3.0,0.0
2020-02-16,United States,Washington,King County,13.0,1.0,19.0,3.0,-2.0,-1.0
2020-02-17,United States,Washington,King County,10.0,4.0,64.0,-13.0,-40.0,7.0
2020-02-18,United States,Washington,King County,4.0,2.0,51.0,6.0,-8.0,1.0
2020-02-19,United States,Washington,King County,2.0,2.0,62.0,6.0,-7.0,0.0

# Yakima County, USA

In [68]:
yakima = google_cols[google_cols['sub_region_2'] == 'Yakima County'].copy()
yakima.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,United States,Washington,Yakima County,6.0,4.0,4.0,3.0,-5.0,0.0
2020-02-16,United States,Washington,Yakima County,18.0,8.0,41.0,19.0,-4.0,-2.0
2020-02-17,United States,Washington,Yakima County,2.0,2.0,31.0,-3.0,-37.0,7.0
2020-02-18,United States,Washington,Yakima County,2.0,4.0,27.0,13.0,-6.0,1.0
2020-02-19,United States,Washington,Yakima County,2.0,2.0,21.0,3.0,0.0,0.0

## France

In [69]:
france = google_cols[(google_cols['country_region'] == 'France') & (google_cols['sub_region_1'].isnull())].copy()
france = france.sort_index()
france.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,France,NaN,NaN,-2.0,-1.0,23.0,12.0,-2.0,-1.0
2020-02-16,France,NaN,NaN,6.0,2.0,9.0,7.0,-1.0,-1.0
2020-02-17,France,NaN,NaN,1.0,2.0,16.0,-6.0,-15.0,4.0
2020-02-18,France,NaN,NaN,5.0,2.0,36.0,-4.0,-14.0,3.0
2020-02-19,France,NaN,NaN,-4.0,-3.0,18.0,-6.0,-12.0,2.0

# Loiret, France

In [70]:
# constructing victorian data df
loire = google_cols[google_cols['sub_region_2'] == 'Loiret'].copy()
loire= loire.sort_index()
loire.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,France,Centre-Val de Loire,Loiret,-2.0,-1.0,21.0,15.0,-1.0,0.0
2020-02-16,France,Centre-Val de Loire,Loiret,14.0,10.0,33.0,14.0,4.0,-1.0
2020-02-17,France,Centre-Val de Loire,Loiret,-3.0,4.0,2.0,-7.0,-20.0,5.0
2020-02-18,France,Centre-Val de Loire,Loiret,-1.0,3.0,23.0,-5.0,-19.0,5.0
2020-02-19,France,Centre-Val de Loire,Loiret,-5.0,-5.0,5.0,-7.0,-17.0,3.0

# Indre et Loire, France

In [71]:
# constructing victorian data df
indre = google_cols[google_cols['sub_region_2'] == 'Indre-et-Loire'].copy()
indre= indre.sort_index()
indre.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,France,Centre-Val de Loire,Indre-et-Loire,0.0,-1.0,29.0,18.0,-1.0,-1.0
2020-02-16,France,Centre-Val de Loire,Indre-et-Loire,6.0,2.0,30.0,16.0,-2.0,-1.0
2020-02-17,France,Centre-Val de Loire,Indre-et-Loire,3.0,3.0,20.0,-3.0,-18.0,4.0
2020-02-18,France,Centre-Val de Loire,Indre-et-Loire,4.0,2.0,52.0,1.0,-18.0,4.0
2020-02-19,France,Centre-Val de Loire,Indre-et-Loire,-1.0,-3.0,28.0,1.0,-15.0,2.0

# Bouches-du-Rhône, France

In [72]:
provence = google_cols[google_cols['sub_region_1'] == 'Provence-Alpes-Côte d\'Azur'].copy()
provence['sub_region_2'].value_counts()

Alpes-Maritimes            312
Alpes-de-Haute-Provence    312
Vaucluse                   312
Hautes-Alpes               312
Bouches-du-Rhone           312
Var                        312
Name: sub_region_2, dtype: int64

In [73]:
bouches = google_cols[google_cols['sub_region_2'] == 'Bouches-du-Rhone'].copy()
bouches.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,France,Provence-Alpes-Côte d'Azur,Bouches-du-Rhone,-5.0,-3.0,27.0,8.0,-1.0,-1.0
2020-02-16,France,Provence-Alpes-Côte d'Azur,Bouches-du-Rhone,-4.0,-1.0,-17.0,4.0,-1.0,0.0
2020-02-17,France,Provence-Alpes-Côte d'Azur,Bouches-du-Rhone,-2.0,-5.0,-18.0,-4.0,-20.0,4.0
2020-02-18,France,Provence-Alpes-Côte d'Azur,Bouches-du-Rhone,2.0,-2.0,25.0,0.0,-19.0,3.0
2020-02-19,France,Provence-Alpes-Côte d'Azur,Bouches-du-Rhone,-4.0,-6.0,20.0,1.0,-15.0,1.0

# North Rhine-Westphalia, Germany

In [74]:
# constructing data df
rhine = google_cols[google_cols['sub_region_1'] == 'North Rhine-Westphalia'].copy()
rhine.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,Germany,North Rhine-Westphalia,NaN,5.0,2.0,61.0,11.0,1.0,-1.0
2020-02-16,Germany,North Rhine-Westphalia,NaN,0.0,2.0,-9.0,3.0,-2.0,1.0
2020-02-17,Germany,North Rhine-Westphalia,NaN,1.0,2.0,2.0,2.0,2.0,-1.0
2020-02-18,Germany,North Rhine-Westphalia,NaN,4.0,4.0,9.0,3.0,1.0,1.0
2020-02-19,Germany,North Rhine-Westphalia,NaN,7.0,7.0,12.0,2.0,1.0,0.0

# Tokyo, Japan

In [75]:
# constructing victorian data df
tokyo = google_cols[google_cols['sub_region_1'] == 'Tokyo'].copy()
tokyo.tail()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-12-18,Japan,Tokyo,NaN,-21.0,-3.0,-22.0,-29.0,-19.0,11.0
2020-12-19,Japan,Tokyo,NaN,-17.0,-2.0,-29.0,-26.0,-9.0,6.0
2020-12-20,Japan,Tokyo,NaN,-15.0,0.0,-21.0,-28.0,-7.0,5.0
2020-12-21,Japan,Tokyo,NaN,-19.0,-4.0,-23.0,-28.0,-17.0,9.0
2020-12-22,Japan,Tokyo,NaN,-17.0,-3.0,-18.0,-29.0,-19.0,9.0

# São Paulo, Brazil

In [76]:
# constructing victorian data df
sp = google_cols[google_cols['sub_region_2'] == 'São Paulo'].copy()
sp = sp.sort_index()
sp.tail()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-12-18,Brazil,State of São Paulo,São Paulo,-19.0,20.0,-12.0,-13.0,-14.0,9.0
2020-12-19,Brazil,State of São Paulo,São Paulo,-7.0,30.0,-10.0,7.0,10.0,3.0
2020-12-20,Brazil,State of São Paulo,São Paulo,-12.0,22.0,-9.0,-2.0,18.0,4.0
2020-12-21,Brazil,State of São Paulo,São Paulo,-13.0,22.0,-26.0,-19.0,-22.0,9.0
2020-12-22,Brazil,State of São Paulo,São Paulo,-10.0,31.0,-30.0,-20.0,-25.0,9.0

# North Dakota, United States

In [77]:
# need to exclude all county data and just take state level data
north_dakota = google_cols[(google_cols['sub_region_1'] == 'North Dakota')&(google_cols['sub_region_2'].isnull())].copy()
north_dakota.tail()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-12-18,United States,North Dakota,NaN,-9.0,-7.0,-17.0,-16.0,-19.0,10.0
2020-12-19,United States,North Dakota,NaN,-12.0,-1.0,-14.0,-14.0,-3.0,5.0
2020-12-20,United States,North Dakota,NaN,-11.0,-5.0,-14.0,-19.0,-9.0,4.0
2020-12-21,United States,North Dakota,NaN,1.0,1.0,0.0,-22.0,-23.0,7.0
2020-12-22,United States,North Dakota,NaN,6.0,13.0,-7.0,-14.0,-26.0,6.0

# South Dakota, United States

In [78]:
# need to exclude all county data and just take state level data
south_dakota = google_cols[(google_cols['sub_region_1'] == 'South Dakota')&(google_cols['sub_region_2'].isnull())].copy()
south_dakota.tail()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-12-18,United States,South Dakota,NaN,-3.0,13.0,17.0,-4.0,-13.0,8.0
2020-12-19,United States,South Dakota,NaN,-5.0,18.0,15.0,-3.0,-4.0,4.0
2020-12-20,United States,South Dakota,NaN,3.0,25.0,46.0,-3.0,-2.0,2.0
2020-12-21,United States,South Dakota,NaN,9.0,29.0,45.0,-5.0,-18.0,6.0
2020-12-22,United States,South Dakota,NaN,15.0,39.0,44.0,1.0,-22.0,5.0

# Taiwan

In [79]:
taiwan = google_cols[google_cols.country_region == 'Taiwan'].copy()
taiwan.head()

,country_region,sub_region_1,sub_region_2,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
date,,,,,,,,,
2020-02-15,Taiwan,NaN,NaN,-9.0,-4.0,-2.0,-10.0,56.0,-1.0
2020-02-16,Taiwan,NaN,NaN,-14.0,-8.0,-21.0,-22.0,-8.0,5.0
2020-02-17,Taiwan,NaN,NaN,-7.0,-3.0,-14.0,-17.0,-3.0,6.0
2020-02-18,Taiwan,NaN,NaN,-7.0,-2.0,-3.0,-15.0,2.0,5.0
2020-02-19,Taiwan,NaN,NaN,-7.0,-4.0,8.0,-12.0,3.0,4.0